---
layout: page
# The Home page layout
---

{% include lang.html %}

<div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
    
      <h1 class="dynamic-title">
        What is Maxcoin?
      </h1>
      <div class="post-content">
<p><em> Max Speed, Security, Integrity &amp; Governance</em></p>
<p><strong>We are a Self Governed, tech-oriented, no hype community driven cryptocurrency. We are here for all, whether you’ve been with us since the start, or only just discovered us today. It is your coin and it’s in your hands, a true Eco-system of human interaction thru collaboration. <a href="/posts/maxcoin-philosophy/">Click here</a> to view our Philosophy & Principles.</strong></p>

<p>Join us and start <a href="/use-maxcoin/">using</a>, <a href="/miners/">mine</a> or <a href="/developers/">develop</a> maxcoin today. Take part in the <a href="/governance/">Governance</a> and/or make proposals in <a href="/mips/">MIPs</a>, together we can make a difference. </p>

<h2 id="maxcoin-fundamentals">Maxcoin Fundamentals:</h2>
<hr>
<ul>
  <li>Open Source / FOSS</li>
  <li>Secure &amp; Robust</li>
  <li>Self Governed &amp; Community Driven</li>
  <li>Old School, Fair Launch</li>
  <li>Open &amp; Transparent</li>
  <li>Zero Pre-mine with No Central Funding</li>
  <li>Unique Coin Attributes</li>
  <li>Next Generation Encryption SHA3</li>
  <li>Schnorr Signatures</li>
</ul>

<h2 id="coin-features">Coin Features:</h2>
<hr>
<ul>
  <li>Algorithm: Keccak (SHA-3) PoW</li>
  <li>Signatures: Schnorr</li>
  <li>Generation: 100 million MAX</li>
  <li>Coins Mined: 62 Million +</li>
  <li>Block time: 1 minute</li>
  <li>Block Rewards: 8 coins per block</li>
  <li>Halving every ~4 years</li>
  <li>Last Halving: July 16 2017</li>
  <li>Transaction Fees: Close to Zero</li>
  <li>Difficulty Retarget: Every block KGW</li>
  <li>List of <a href="/features/">Maxcoin Features</a></li>
</ul>

      </div>
</div>

