---
layout: page
# The Home page layout
---

{% include lang.html %}

<div id="page" class="post pb-5 pl-1 pr-1 pl-sm-2 pr-sm-2 pl-md-4 pr-md-4 mb-md-4">
    
      <h1 class="dynamic-title">
        What is Maxcoin?
      </h1>
      <div class="post-content">
<p><em> Max Speed, Security &amp; Integrity </em></p>
<br>
        <p><strong>Maxcoin is your coin, it’s in your hands, the early adopters, miners, developers and enthusiasts. Maxcoin is here for all.</strong></p>

<p><strong>There are no official developers, no executives, no board, foundation or treasury, no fundraising, no premine, no founders reward, no offices, no bank account, no management. Consensus &amp; Organic Growth via code and nodes, not regulation via kings/queens or presidents.</strong></p>

<p><strong>A true eco-system of human interaction and collaboration, interdependant and decentralized. Everyone can be part of the Maxcoin Team, come join us, contribute to our open Source project.</strong></p>

<h2 id="maxcoin-fundamentals">Maxcoin Fundamentals:</h2>
<hr>
<ul>
  <li>Open Source / FOSS</li>
  <li>Secure &amp; Robust</li>
  <li>Self Governed &amp; Community Driven</li>
  <li>Old School, Fair Launch</li>
  <li>Open &amp; Transparent</li>
  <li>Zero Pre-mine with No Central Funding</li>
  <li>Unique Coin Attributes</li>
  <li>Next Generation Encryption SHA3</li>
  <li>Schnorr Signatures</li>
</ul>

<h2 id="coin-features">Coin Features:</h2>
<hr>
<ul>
  <li>Algorithm: Keccak (SHA-3) PoW</li>
  <li>Signatures: Schnorr</li>
  <li>Generation: 100 million MAX</li>
  <li>Coins Mined: 62 Million +</li>
  <li>Block time: 1 minute</li>
  <li>Block Rewards: 8 coins per block</li>
  <li>Halving every ~4 years</li>
  <li>Last Halving: July 16 2017</li>
  <li>Transaction Fees: Close to Zero</li>
  <li>Difficulty Retarget: Every block KGW</li>
</ul>

<h2 id="distinguishing-features-to-bitcoin">Distinguishing features to Bitcoin:</h2>
<hr>

<p>SHA-3/Keccak, Schnorr, Kimoto Gravity Well.</p>

<p>Maxcoin’s Features are enhanced thru the power of Online Privacy, Security, Censorship Resistance and Decentralisation.</p>

<p>For a complete list of features, visit <a href="/features/">Maxcoin Features</a> .</p>
      </div>
</div>

